/*
 *	RadiusMedia
 *  Date: 4 Feb 2014
 */

body {
 	background: @white;
 	color: @color-body;
 	font: @base-font-size @font-body;
 	line-height: @base-line-height;
 	letter-spacing: 0px;
 	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
}


.wrapper {
	max-width: 940px;
	margin: 0 auto;
}



/* HEADER
=========================================*/

#header {
	height: 260px;

	.retina_logo {
		display: none;
		max-height: 22px;
		height: auto !important;
	}
}





/*============================================================================
	MOBILE 
============================================================================*/

@media (max-width: @screen-xs-max) {
	#header {
		height: auto;

		.retina_logo {
			display: block;
		}
		.normal_logo {
			display: none;
		}
	}
}