/*
 *	RadiusMedia
 *  Date: 4 Feb 2014
 */


/* FONTS
=========================================*/

@font-fallback					: Helvetica, Arial, sans-serif;		
@font-body						: @font-fallback;



/* COLOURS
=========================================*/

@black  						: #000000;
@white 							: #ffffff;
@body-text 						: #6e6e71;



/* VARIABLES
=========================================*/

@base-font-size					: 14px;
@base-line-height				: 18px;


// font colours
@color-body						: @body-text;


/* MEDIA QUERY BREAKPOINTS
=========================================*/

// Extra small screen / phone
@screen-xs:                  480px;
@screen-xs-min:              @screen-xs;
@screen-phone:               @screen-xs-min;

// Small screen / tablet
@screen-sm:                  768px;
@screen-sm-min:              @screen-sm;
@screen-tablet:              @screen-sm-min;

// Medium screen / desktop
@screen-md:                  992px;
@screen-md-min:              @screen-md;
@screen-desktop:             @screen-md-min;

// Large screen / wide desktop
@screen-lg:                  1200px;
@screen-lg-min:              @screen-lg;
@screen-lg-desktop:          @screen-lg-min;

// So media queries don't overlap when required, provide a maximum
@screen-xs-max:              (@screen-sm-min - 1);
@screen-sm-max:              (@screen-md-min - 1);
@screen-md-max:              (@screen-lg-min - 1);